
.mononoke-card {
    width: 500px;
    max-width: 500px;
    margin: 10px;
    border: 3px solid;
    padding: 3px;
    font-family: Comfortaa;
    flex: 2 1 500px;
    max-height: fit-content;
}

.mononoke-card.hidden {
    height: 60px;
}

.mononoke-card .card-header {
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.mononoke-card .card-header .card-header-left {
    width: 50%;
}

.mononoke-card .card-header .card-header-right {
    width: 50%;
    padding-left: 50%;
}

.mononoke-card .card-header .card-header-right .card-edit-btn {
    float: right;
    height: 100%;
    padding: 5px;
    margin: 5px;
    width: 50px;
}

.mononoke-card .card-header .card-header-right .card-edit-btn-hidden {
    display: none;
}

.mononoke-card .card-header .card-name {
    float: left;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.mononoke-card .card-header .card-type {
    float: left;
    position: absolute;
    top: 43px;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
} 

.mononoke-card .card-header .card-type .card-type-edit {
    cursor: pointer;
}

.mononoke-card .card-header .card-name-input {
    float: left;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    padding: 2px;
}


.mononoke-card .card-header .card-lv-label {
    float: right;
    margin: 5px;
    padding: 10px;
}

.mononoke-card .card-header .card-lv {
    float: right;
    margin: 5px;
    background-color: white;
    color: black;
    text-align: center;
    width: 80px;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mononoke-card .card-header .card-lv-expand {
    width: 100px;
    height: 33px;
}

.mononoke-card .card-header .card-lv input {
    width: 30%;
    margin-bottom: 2px;
    text-align: center;
}

.mononoke-card .card-header .card-class {
    float: left;
    position: absolute;
    top: 33px;
    left: 21px;
    font-size: 18px;
}

.mononoke-card .card-body {
    margin: 3px;
    display: flex;
    flex-wrap: wrap;
}

.mononoke-card .card-body-hidden {
    display: none;
}

.mononoke-card .card-body-info {
    min-height: 40px;
    width: 100%;
}

.mononoke-card .card-body-info-left {
    width: 75%;
    float: left;
}

.mononoke-card .card-body-info-left label {
    display: inline-block;
}

.mononoke-card .card-body-extra-info {
    margin: 2px;
    width: 100%;
    text-align: center;
    position: relative;
}

.mononoke-card .card-body-extra-info .card-body-infobox{
    float: left;
    margin-left: 4%;
}

.mononoke-card .card-body-extra-info .card-body-infobox .edit {
    margin-left: -15px !important;
    cursor: pointer;
}

.mononoke-card .card-body-extra-info .card-body-infobox .label{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.mononoke-card .card-body-extra-info .card-body-infobox .info{
    font-size: 12px;
    line-height: 2px;
    margin-bottom: 15px;
    margin-top: 0;
}

.card-input-new {
    width: 80px;
    height: 20px;
    margin: 2px;
}

.mononoke-card .card-body-info-right {
    width: 25%;
    float: right;
    text-align: right;
}

.mononoke-card .card-body-info-right ul{
    list-style-type: none;
    font-size: 15px;
    margin: 2px;
}

.mononoke-card .card-body-info-right ul input {
    width: 20px;
}

.mononoke-card .card-body-info p {
    float: left;
    margin: 2px;
    font-size: 15px;
}

.mononoke-card .card-body-stats {
    margin-bottom: 10px;
    width: 100%;
}

.mononoke-card .card-body-stats .card-body-stats-main p {
    float: left;
    margin: 2px;
    width: 18%;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}

.mononoke-card .card-body-stats .card-body-stats-sub p {
    float: left;
    margin: 2px;
    width: 18%;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}

.mononoke-card .card-body-stats input {
    width: 80%;
    float: left;
    margin: 2px;
}

.mononoke-card .card-body-data {
    color: black;
    width: 100%;
}