.dashboard {
    position: relative;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    height: fit-content;
}

.dashboard-wrapper {
    display: flex;
}
