.card-delete-tooltip {
    visibility: hidden;
    width: 160px;
    background-color: rgb(84, 84, 84);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -80px;
    bottom: 45px;
}

.card-delete-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(84, 84, 84) transparent transparent transparent;
}

.card-edit-btn:hover .card-delete-tooltip {
    visibility: visible;
}